aws-wsgi
flask
black
dask[distributed]
isort
moto[server,s3]==1.3.16.dev122  # See https://github.com/spulec/moto/issues/3530
numcodecs
numpy
pandas
pdoc3
pytest
requests
s3fs  # installed before boto3 to force a given revision of botocore
boto3
tabulate
