 			  <!-- {% for label, columns in labels.items() %} -->
			  <!-- <li class="list-group-item" id="label-selection"> -->
			  <!-- 	<label for="label-{{loop.index}}">{{label}}</label> -->
			  <!-- 	{% for column in columns %} -->
			  <!-- 	<div class="custom-control custom-switch"> -->
			  <!-- 	  <input type="checkbox" class="custom-control-input" id="switch-{{label}}-{{loop.index}}" hx-post="graph"> -->
			  <!-- 	  <label class="custom-control-label" for="switch-{{label}}-{{loop.index}}">{{column}}</label> -->
			  <!-- 	</div> -->
			  <!-- 	{% endfor %} -->
			  <!-- </li> -->
			  <!-- {% endfor %} -->
